<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAh2YvyaEHALBoz2qZAUQDJtu_d-4nIY7I</string>
	<key>GCM_SENDER_ID</key>
	<string>775146078018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.choidz.goOnTime</string>
	<key>PROJECT_ID</key>
	<string>go-on-time</string>
	<key>STORAGE_BUCKET</key>
	<string>go-on-time.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775146078018:ios:c194dff67700871aa6d2db</string>
</dict>
</plist>